.photogrid__like-number {
    max-width: 40px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}